html, body, #main, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.cat{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
    padding: 6px;
    background: purple;
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
}

.catgif{
    position: absolute;
    width: 100vw;
    background-color: #A475A0;
    bottom: 10px;
    z-index: 100;
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
}

.info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    width: 275px;
    background: transparent;
}

.info .panel-body {
    background: transparent;
}

.panel-heading{
    height: 300px;
}
#request {
    position: relative;
    background: #fcc1d4 none repeat scroll 0 0;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

#requestShadow {
    position: relative;
    background: purple none repeat scroll 0 0;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

#requestSnow {
    position: relative;
    background: grey none repeat scroll 0 0;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

#requestAsh {
    position: relative;
    background: white none repeat scroll 0 0;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

#request:disabled {
    color: #999;
    border-color: #999;
}

#accountLink {
    background: inherit;
}

#updates {
    list-style: none;
    margin-top: 5px;
    padding: 0;
}

#updates li {
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 5px;
}

.authToken {
    word-wrap: break-word;
    width: 100%;
}
